/* Universal */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF8F6;
}

h3,
h4,
h5,
h6,
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
    color: #26510C;
    line-height: 1.2;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #69696F;
    line-height: 1.1;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #69696F;
    line-height: 1.4;
}

h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #69696F;
    line-height: 1.4;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    color: #69696F;
}

a {
    color: #44B9DE;
    text-decoration: none;
}

a:hover {
    color: #44B9DE;
    cursor: pointer;
    text-decoration: none;
}

strong {
    font-weight: bold;
}


button {
    padding: .6rem 1.2rem;
    background-color: #26510C;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FEFEFD;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .four-zero-four h1 {
        font-size: 5rem;
    }
}

/* Header */

header ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    max-width: 100%;
    padding: 0 10rem;
}

.nav-links {
    display: flex;
    flex-flow: row;
    gap: 4rem;
}

.fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: box-shadow 0.1s ease-in-out;
}

.nav-scroll {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #FAF8F6;
}

header ul li a {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #69696F;
    text-decoration: none;
}

header ul li a:hover {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    color: #69696F;
    opacity: .8;
}

.mobile-nav {
    display: none;
}

#x-icon {
    display: none;
}

#burger-links {
    display: none;
    background-color: #FAF8F6;
    padding-bottom: 1rem;
}

#burger-links a {
    font-family: 'Outfit', sans-serif;
    color: #69696F;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    text-align: left;
}

@media only screen and (min-width: 1510px) {
    header {
        padding: 0 15rem;
    }

    header ul {
        padding: 0;
    }
}

@media only screen and (max-width: 1200px) {
    header ul {
        padding: 0 8rem;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        padding: 0 4rem;
    }

    header ul {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    #hamburger-icon {
        width: 2.2rem;
    }

    #burger-links a {
        padding: 1rem 4rem;
    }
}

@media only screen and (max-width: 770px) {
    header {
        padding: 0 1rem;
    }

    #burger-links a {
        padding: 1rem 1rem;
    }
}

/* Hero */

.hero {
    background: #FAF8F6;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 8rem 15rem 6rem 15rem;
}

.hero-left {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    min-width: 32rem;
    max-width: 42rem;
}

.hero-bio {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.hero-h1 span {
    background: linear-gradient(to top, rgba(209, 226, 199, 0.2) 32%, transparent 0%);
}

.hero button {
    max-width: 12rem;
}

.hero-image img {
    width: 70rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 8px rgba(35, 35, 35, 0.1);
}

@media only screen and (min-width: 1850px) {
    .hero {
        flex-flow: row;
        padding: 8rem 15rem 15rem 15rem;
    }

    .hero-left {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        text-align: left;
        gap: 2rem;
        min-width: 32rem;
        max-width: 32rem;
    }

    .hero-image img {
        width: 50rem;
    }
}

@media only screen and (max-width: 1200px) {
    .hero {
        padding: 8rem 4rem 4rem 4rem;
    }

    .hero-image img {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 770px) {
    .hero {
        padding: 6rem 1rem 2rem 1rem;
        margin: 0;
        border-radius: 0%;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    .hero {
        padding: 4rem 1rem 2rem 1rem;
    }

    .hero-left {
        text-align: left;
        align-items: start;
        min-width: 0;
    }
}

/* Projects */

.projects-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4rem;
}

.projects {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 6rem;
}

.projects-image img {
    width: 70rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 8px rgba(35, 35, 35, 0.1);
}

@media only screen and (min-width: 1600px) {
    .feature-image-container {
        width: 65rem;
    }
}

@media only screen and (max-width: 1200px) {
    .projects-container {
        padding: 0 4rem;
    }

    .projects {
        gap: 4rem;
    }

    .projects-image img {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    .projects-container {
        padding: 0 1rem;
    }

    .projects {
        gap: 2rem;
    }
}

/* Services */

.services-container {
    border-radius: 0.625rem;
    background: linear-gradient(99deg, #E8EFEA -3.23%, #FDF9F3 107.12%);
    margin: 14rem 6rem;
    padding: 3rem 4rem 4rem 4rem;
}

.services-grid {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 6rem;
    padding: 3rem 0 0 0;
}

.services-stack {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    width: 100%;
}

.service-block {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.service-block h1 {
    color: #0D0D0E;
    font-weight: 500;
}

.divider {
    border-bottom: 1px solid #0D0D0E;
}

@media only screen and (min-width: 1425px) {
    .services-container {
        width: 70rem;
        margin: 14rem auto;
    }
}

@media only screen and (max-width: 1200px) {
    .services-container {
        margin: 14rem 4rem;
    }
}

@media only screen and (max-width: 1080px) {
    .services-grid {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 3rem 0 0 0;
    }
}

@media only screen and (max-width: 1000px) {
    .services-container {
        margin: 6rem 1rem;
        padding: 2rem 3rem 4rem 3rem;
    }

    .services-stack {
        gap: 1rem;
    }
}

@media only screen and (max-width: 770px) {
    .services-container {
        border-radius: 0;
        margin: 6rem 0rem;
        padding: 2rem 1.5rem 4rem 1.5rem;
    }
}

/* Footer */

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem 1rem 2rem;
}

.footer-home {
    margin-top: 25rem;
}

.footer-image {
    width: 100%;
}

@media only screen and (min-width: 1425px) {}

@media only screen and (max-width: 1000px) {
    footer {
        padding: 0 1rem 1rem 1rem;
    }

    .footer-home {
        margin-top: 15rem;
    }
}

@media only screen and (max-width: 900px) {
    footer {
        padding: 0 1rem 2.5rem 1rem;
        text-align: center;
    }
}

@media only screen and (max-width: 515px) {
    .footer-name-and-title h1 {
        font-size: 1.8rem;
    }
}